$main-background-color: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
$second-background-color: #9f06ff0d 84.63%;
$third-background-color: linear-gradient(35.71deg, #FFD7A9 9.11%, #FFAE70 71.64%);
$quarter-background-color: linear-gradient(44.11deg,rgb(0, 26, 73) 15.75%,rgb(3, 41, 110) 84.63%);
$fifth-backround-color: #9f06ff0d 84.63%;
$gray-backround-color: rgba(231, 234, 235, 1);
$main-text-color: #001A49;
$second-text-color: #CD10FF;
$font-montserrat: 'Montserrat',sans-serif;
$white: white;
$pale-yellow_backround-color: linear-gradient(35.71deg, #ffd7a975 9.11%, #ffae703b 71.64%);;